<div
  *ngIf="facet"
  class="shadow-3-6 radius-8 blanc_bg mb-xl-2 border-all-1-solid-gris_dark col"
>
  <div class="">
    <a class="h6 mb-xl-1">{{ facet.field }}</a>
  </div>
  <div class="">
    <div *ngFor="let facetItem of facet.data" class="mh-checkbox col">
      <input
        [id]="getID(facet.field, facetItem, facet.type)"
        class=""
        type="checkbox"
        [value]="getValue(facetItem, facet.type)"
        [checked]="isChecked(getValue(facetItem, facet.type))"
        (change)="change.emit($event)"
      />
      <label [for]="getID(facet.field, facetItem, facet.type)">
        {{ getValue(facetItem, facet.type) }}
        <label *ngIf="facetItem.count">({{ facetItem.count }})</label>
      </label>
    </div>
  </div>
</div>
