.App {
  box-sizing: inherit;
  display: block;
}
/*
:root {
  --font-family: 'poppins'
} */
.sui-layout {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: inherit;
}
