<div class="">
  <div class="">
    <!-- Search Bar -->
    <div class="sui-layout-header">
      <div class="sui-layout-header__inner">
        <div class="">
          <form
            [formGroup]="searchForm"
            role="combobox"
            aria-expanded="false"
            aria-haspopup="listbox"
            aria-labelledby="downshift-0-label"
          >
            <div class="sui-search-box">
              <input
                aria-autocomplete="list"
                aria-labelledby="downshift-0-label"
                autocomplete="off"
                id="downshift-0-input"
                type="text"
                data-transaction-name="search input"
                data-custom-attr="some value"
                placeholder="Recherche"
                formControlName="searchInputValue"
                class="sui-search-box__text-input"
              />
              <div class="sui-search-box__form-action-submit">
                <img
                  src="./assets/search.svg"
                  alt="icone rechercher"
                  type="submit"
                  class="button sui-search-box__submit"
                  data-custom-attr="some value"
                  class="sui-search-box__wrapper-iconSearch"
                />
              </div>
              <!--<div class="sui-search-box__speaker">            
                  <img data-transaction-name="search submit" type="submit" class="sui-search-box__wrapper-IconSpeaker"  src="./assets/microphone.svg" data-custom-attr="some value">
                </div>-->
            </div>
          </form>
        </div>
      </div>
      <!-- Search Bar -->
    </div>
    <!-- Search Facet -->
    <div class="sui-layout-body">
      <div class="sui-layout-body__inner">
        <button class="sui-layout-sidebar-toggle" type="button" hidden="">
          Show filters
        </button>
        <div class="sui-layout-sidebar">
          <button type="button" class="sui-layout-sidebar-toggle" hidden="">
            Save Filters
          </button>
          <div>
            
            <ng-container *ngFor="let facet of searchState.facets | keyvalue"
              >
              <div class="sui-facet">
                <app-search-facet
                [checked]="facets2[$any(facet.key)]"
                [facet]="searchState.facets[$any(facet.key)][0]"
                (change)="handleFacetChange($event, $any(facet.key))"
              >
              
            </app-search-facet>
          </div> 
            </ng-container>
          
          </div>
          <!-- Search Facet -->
        </div>
        <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
          <!-- Search Content -->
          <!-- <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3"> -->
          <ng-container *ngFor="let result of searchState.results">
            <app-search-result [result]="result"></app-search-result>
          </ng-container>
          <!-- </div> -->
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <app-search-pagination
              *ngIf="thereAreResults"
              [totalPages]="searchState.totalPages"
              (pageChanged)="setCurrentPage($event)"
            ></app-search-pagination>
          </div>
          <!-- Search Content -->
        </div>
      </div>
    </div>
  </div>
</div>
