/* Searchbox header */
.sui-layout-header {
  padding: 32px 24px;
  border-bottom: 1px solid #3d44c9;
}
.sui-layout-header__inner {
  box-sizing: inherit;
  display: flex;
  flex-direction: column;
}
// Searchbox section
.sui-search-box__wrapper {
  height: unset;
  display: flex;
  justify-content: left;
  flex-direction: column;
  align-items: stretch;
  background: #ffffff;
  margin-top: 1rem;
  outline: none;
  border-radius: 0px;
  border: 0px;
  position: relative;
  box-sizing: inherit;
}
.sui-search-box {
  display: flex;
  max-width: 64rem;
  margin: 0 auto;
  border-bottom: 1px solid #757575;
  background-color: #f6f6f6;
  -webkit-box-pack: center;
  justify-content: center;
  border-radius: 8px;
}
.sui-search-box:hover {
  cursor: select;
  border-bottom: 1.5px solid #5f65e3;
}
input {
  border: none;
  outline: none;
}
.sui-search-box__form-action-submit {
  position: relative;
  background: #5f65e3;
  border: none;
  padding: 0;
  height: 40px;
  width: 40px;
  -ms-flex-preferred-size: 40px;
  flex-basis: 40px;
  overflow: hidden;
  margin: auto;
  border-radius: 2rem;
  margin-right: 16px;
}
.sui-search-box__text-input {
  flex: 2;
  width: 100%;
  min-height: 50px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  background: #f6f6f6;
  border: 0px solid #fff;
  padding-left: 16px;
}
//transformation card result
.sui-search-box__form-action-submit:hover {
  cursor: pointer;
  background: #3d44c9;
}
.sui-search-box__wrapper-iconSearch {
  display: block;
  width: 22px;
  height: 22px;
  position: absolute;
  top: 9px;
  left: 9px;
  color: #ffffff;
}
// icon speaker feature V2
.sui-search-box__speaker {
  position: relative;
  background: #f179bf;
  color: #ffffff;
  border: none;
  padding: 0;
  height: 40px;
  width: 40px;
  -ms-flex-preferred-size: 40px;
  flex-basis: 40px;
  overflow: hidden;
  margin: 10px;
  border-radius: 2rem;
}
.sui-search-box__wrapper-IconSpeaker {
  display: block;
  width: 22px;
  height: 22px;
  position: absolute;
  top: 9px;
  left: 9px;
}
/* Body section */
.sui-layout-body {
  background: #fcfcfc;
  box-sizing: inherit;
}
// body section sidebar facet
.sui-layout-sidebar {
  -webkit-box-flex: 0;
  flex: 0 1 32%;
  padding: 0;
  box-sizing: border-box;
  color: rgb(52, 55, 65);
  line-height: 26px;
  font-family: 'Poppins', arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  width: auto;
}
.sui-layout-body__inner {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  padding: 0 24px;
}
// button toogle
.sui-layout-sidebar-toggle {
  color: red;
  border: 1px solid red;
}
.sui-facet {
  padding: 28px 18px;
  background-color: #ffffff;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  font-family: 'Poppins', arial, sans-serif;
  font-size: 12px;
  overflow: hidden;
  line-height: 1.5;
  font-weight: 400;
  border: 0;
  position: relative;
  display: flex;
  min-width: 250px;
  align-items: left;
  margin: 20px auto;
  border-bottom: 1px solid #757575;
  -webkit-box-pack: center;
  border-radius: 8px;
  justify-content: left;
}
.sui-facet__title {
  font-size: 12px;
  color: black;
  font-family: 'Poppins', arial, sans-serif;
}
// paging info
.sui-layout-main {
  width: 76%;
  padding: 32px 0 32px 32px;  
}
.sui-layout-main-header {
font-size: 12px;
color: #4a4b4b;
display: flex;
justify-content: space-between;
align-items: center;
width: 100%;
}

