.sui-search-box__wrapper {
  height: unset;
  display: flex;
  justify-content: left;
  flex-direction: column;
  align-items: stretch;
  background: #ffffff;
  margin-top: 1rem;
  outline: none;
  border-radius: 0px;
  border: 0px;
  position: relative;
  box-sizing: inherit;
}
.sui-search-box {
  display: flex;
  max-width: 64rem;
  margin: 0 auto;
  border-bottom: 1px solid #757575;
  background-color: #f6f6f6;
  -webkit-box-pack: center;
  justify-content: center;
  border-radius: 8px;
}
.sui-search-box:hover {
  cursor: select;
  border-bottom: 2px solid #3d44c9;
}
input {
  border: none;
  outline: none;
}
.sui-search-box__form-action-submit {
  position: relative;
  background: #5f65e3;
  border: none;
  padding: 0;
  height: 40px;
  width: 40px;
  -ms-flex-preferred-size: 40px;
  flex-basis: 40px;
  overflow: hidden;
  margin: auto;
  border-radius: 2rem;
  margin-right: 16px;
}
/* transformation card result */
.sui-search-box__form-action-submit:hover {
  cursor: pointer;
  background: #aeafb6;
}

.sui-search-box__speaker {
  position: relative;
  background: #f179bf;
  color: #ffffff;
  border: none;
  padding: 0;
  height: 40px;
  width: 40px;
  -ms-flex-preferred-size: 40px;
  flex-basis: 40px;
  overflow: hidden;
  margin: 10px;
  border-radius: 2rem;
}
.sui-search-box__text-input {
  flex: 2;
  width: 100%;
  min-height: 50px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  background: #f6f6f6;
  border: 0px solid #fff;
  padding-left: 16px;
}
.sui-layout-header {
  padding: 32px 24px;
  border-bottom: 1px solid #3d44c9;
}
.sui-layout-header__inner {
  box-sizing: inherit;
  display: flex;
  flex-direction: column;
}
.sui-search-box__wrapper-iconSearch {
  display: block;
  width: 22px;
  height: 22px;
  position: absolute;
  top: 9px;
  left: 9px;
  color: #ffffff;
}
.sui-search-box__wrapper-IconSpeaker {
  display: block;
  width: 22px;
  height: 22px;
  position: absolute;
  top: 9px;
  left: 9px;
}
