.sui-search-box__wrapper {
  height: unset;
  display: flex;
  justify-content: left;
  flex-direction: column;
  align-items: stretch;
  background: #ffffff;
  margin-top: 1rem;
  outline: none;
  border-radius: 0px;
  border: 0px;
  position: relative;
  box-sizing: inherit;
}
.sui-search-box__text-input {
  flex: 2;
  width: 100%;
  min-height: 50px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  background: #f6f6f6;
  border: 0px solid #fff;
  border-bottom: 1px #636363 solid;
  color: #636363;
  border-radius: 4px;
  padding-left: 16px;
}
.sui-layout-header {
  padding: 32px 24px;
  border-bottom: 1px solid #636363; 
}
.sui-layout-header__inner {
  box-sizing: inherit;
}
.sui-search-box__wrapper-iconSearch {
  height: unset;
  width: 20px;
  display: flex;
  position: relative;
  justify-content: left;
  flex-direction: column;
  align-items: stretch;
  background: none;
  margin-top: 1rem;
  background: linear-gradient(225deg, #FAF5F3 0%, #EDE8E6 100%);
  Color: #FFFFFF;
  padding: 0.6rem;
  border-radius: 100%
}
